# Travel Cost all together

In [1]:
import pandas as pd
import geopandas as gpd

In [5]:
# These are data generated by Google_distance_cost.ipynb
distance_matrix0 = pd.read_csv('distance0_100000.csv')
distance_matrix1 = pd.read_csv('distance100000_200000.csv')
distance_matrix2 = pd.read_csv('distance200000_300000.csv')
distance_matrix3 = pd.read_csv('distance300000_400000.csv')
distance_matrix4 = pd.read_csv('distance400000_500000.csv')
distance_matrix5 = pd.read_csv('distance500000_555158.csv')

In [6]:
distance_matrix = pd.concat([distance_matrix0, distance_matrix1,distance_matrix2,distance_matrix3,distance_matrix4,distance_matrix5], axis=0, ignore_index=True)
distance_matrix

        Distance in meter  origin_id  destination_id
0                    7681  E02002536             122
1                   14506  E02002536             127
2                   14764  E02002536             137
3                   12744  E02002536             836
4                   12605  E02002536             838
...                   ...        ...             ...
555153              15948  E02003088            1204
555154               7966  E02006070            1278
555155              21577  E02006679            1176
555156              10890  E02006679            1177
555157              19642  E02006679            1183

[555158 rows x 3 columns]

In [7]:
distance_matrix.isna().sum()

Distance in meter    0
origin_id            0
destination_id       0
dtype: int64

In [8]:
distance_matrix.to_csv('distance_cost_final.csv',index=False)